.right-fish {
    transform: rotateX(180deg) rotate(-60deg);
    width: 450px;
    bottom: -444px;
    right: 0px;
}

.left-fish {
    transform: rotateY(180deg) rotate(341deg) rotate(-35deg);
    width: 557px;
    top: -511px;
    left: -165px;
}