.board-card {
    top:0;
    left:0;
    z-index: 1;
}

.board-card-image {
    clip-path: ellipse(46% 49% at 47% 45%);
    height: 117px;
    width: 96px;
    z-index: -1;
    top: 6px;
    left: 4px;
}
 
.board-frame {
    width: 89px;
    min-width: 89px;
    z-index: -1;
    top: 0;
    left: 0;
}

.board-card-attack {
    position: absolute;
    font-weight: 700;
    bottom: 16px;
    left: 14px;
}

.board-card-health {
    position: absolute;
    font-weight: 500;
    bottom: 16px;
    right: 11px;
}
