
.game-card {
  z-index: 1;
  transform-origin: bottom;
}

.backside-game-card{
  z-index: 1;
  transform: rotate(180deg);
  
}

.backside-image{
  width: 150px;
  
}

.card-cost {
  top: 4px;
  left: 11px;
  color: white;
  font-weight: bolder;
  text-shadow: 2px 2px 1px black;
  font-size: 30px;
}

.card-image {
  width: 105px;
  top: 11px;
  border-radius: 77%;
  left: 22px;
  z-index: -1;
}

.card-name-svg {
  top: 106px;
  left: 25px;
  width: 100px;
}

.card-name-svg text {
  font-size: 11px;
  fill: white;
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
  top: 105px;
  left: 44px;
}

.card-description {
  font-size: 9px;
  text-align: center;
  width: 88px;
  font-weight: 500;
  line-height: 12px;
  top: 141px;
  left: 33px;
}

.card-attack {
  bottom: 6px;
  left: 15px;
  color: white;
  font-weight: bolder;
  text-shadow: 2px 2px 1px black;
  font-size: 23px;
}

.card-health {
  bottom: 5px;
  right: 14px;
  color: white;
  font-weight: bolder;
  text-shadow: 2px 2px 1px black;
  font-size: 23px;
}

.game-card-frame {
  width: 135px;
  min-width: 120px;
}