.profile {
  height: 112px;
  width: 95px;
}
.image-container {
  height: 111px;
  overflow: hidden;
}


.armor-bar-text {
  font-size: 23px;
  margin-bottom: 0.2px;
  margin-left: 9px;
}

.armor-bar {
  width: 36px;
  z-index: 1;
  top: 65px;
  right: -12px;
}

.armor-bar-image {
  bottom: -15px;
  right: -4px;
}

.health-bar-text {
  font-size: 21px;
  margin-bottom: -2.6px;
  margin-left: 6px;
}

.health-bar {
  width: 29px;
  z-index: 0;
  bottom: -11px;
  right: -10px;
}

.health-bar-image {
  bottom: -7px;
  right: -3px;
}
