.enemy-profile {
    width: 112px;
    height: 127px;
    top: 101px;
    left: 627.8px;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
}

.enemy-profile-image {
  border-top-right-radius: 93px;
  border-top-left-radius: 93px;
}
