body {
  background-image: url("../public/bg.png");
  background-color: rgb(0, 217, 224);
  height: 930px;
  width: 1850px;
  margin: 0 auto;
  overflow-y: hidden;
}

.board {
  background-image: url("../public/hearthstone-board-2.png");
  position: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  height: 850px;
  width: 1750px;
  margin-left: 180px;
  margin-top: 33px;
}
